<div class="umb-panel" ng-controller="backofficeDocumentorList">
    <div class="umb-panel-header">
        
    </div>
    <div class="umb-panel-body with-footer">
        <ul class="nav nav-list">
            <li class="nav-header">
                Please Select snapshot to load
            </li>
            <li ng-repeat="file in files track by $index">
                <a href="" ng-click="submit(file)">
                    <i class="fa fa-file-text-o"></i>
                    {{file | noextension}}
                </a>
            </li>
        </ul>
    </div>
    <div class="umb-panel-footer">
        <a href="" ng-click="close()" class="btn btn-link">
            <localize key="general_cancel">Cancel</localize>
        </a>
    </div>

</div>